body {
	font-family: Arial, Verdana, Sans-Sarif;
	font-size: 1em;
}

h1 {
	text-align: center;
}

li {
	margin: .7em;
}

form {
	margin-left: 200px;
	width: 1200px;
}

.blank {
	margin-left: 200px;
}
